@charset "UTF-8";

body {
	margin: 40px;
	font-family: 'Montserrat', sans-serif;
	background-color: #fcf8f2;
}

h1 {
	font-family: 'Syne', sans-serif;
}

#logo{
	font-family: 'Syne', sans-serif;
}
.card-title{
	font-family: 'Syne', sans-serif;
}
.btn {
	background-color: #DEA754;
	border:2px solid#DEA754;
	border-radius: 15px;
	transition: all 200ms ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #fcf8f2;
}
.btn:hover {
	background-color:#fcf8f2;
	color:black;
	border:2px solid#DEA754;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	
}
.info_link{
	background-color: #AF7E43;
	border: 2px solid #AF7E43;
}
.delete{
	background-color: #b76431;
	border: 2px solid #b76431;
}
.img-fluid{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.card {
	border: 3px solid #DEA754;
	border-radius: 15px;
	background-color: #fcf8f2;
	transition: all 200ms ease;
	color:black;
	
}
.trip_card a {
	color:black;
	text-decoration: none;
}
.trip_card .btn {
	color:#fcf8f2;
}
.trip_card .btn:hover {
	color:black;
}
.card:hover {
	text-decoration: none;
	color:black;
	box-shadow: 16px 16px 17px rgba(175, 126, 67, 0.1);
}
.travel-tag{
	border: 2px solid #DEA754;
	border-radius: 28px;
	padding:5px 10px;
	background-color: #DEA754;
	color: #fcf8f2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.list_tag{
	border: 3px solid #DEA754;
	border-radius: 28px;
	padding:5px 10px;
	background-color: #fcf8f2;
	color: #DEA754;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.amount-tag{
	text-align:center;
	border: 2px solid #DEA754;
	border-radius: 50%;
	padding: 10px 15px;
	background-color: #DEA754;
	color: #fcf8f2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.travel-tag-trip-detail{
	border: 2px solid #DEA754;
	border-radius: 28px; 
	background-color: #DEA754;
	color: #fcf8f2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	
}
.trip-detail-card{
	background-image: url(/images/cardBackground.png);
	display:block;
	background-repeat: no-repeat;
	background-size: 420px;
	background-position: top left;
}
.activity-detail-card{
	background-image: url(/images/cardBackground_activity.png);
	display:block;
	background-repeat: no-repeat;
	background-size: 450px;
	background-position: top left;
}
.restaurant-detail-card{
	background-image: url(/images/cardBackground_restaurant.png);
	display:block;
	background-repeat: no-repeat;
	background-size: 420px;
	background-position: top left;
}
.list_card{
	background-image: url(/images/cardBackground_list.png);
	display:block;
	background-repeat: no-repeat;
	background-size: 420px;
	background-position: top left;

}
.trip_name {
	font-family: 'Syne', sans-serif;
}
.icons {
	height: 24px;
}
.sub-title {
	font-family: 'Syne', sans-serif;
}



.trip_row{
	gap:18px;
}