@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Syne:wght@700;800&display=swap");

:root {
  --main-background-color: #fcf8f2;
  --secondary-color: #dea754;
  --lightest-color: #fbfaf9;
  --darkest-color: #282828;

  --border-radius: 1rem !important;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #fcf8f2;
  display: flex;
  flex-direction: column;
  color: var(--darkest-color);
  font-size: 15px;
}

footer {
  background-color: rgba(222, 167, 84, 0.4);
  & a {
    text-decoration: none;
    color: #b77b21;
  }
  & a:hover {
    color: var(--darkest-color);
  }
}

/* TRIP ROW */
.navbar {
  background: var(--main-background-color) !important;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}

/* VIEW TRIP */
/* .trip-details {
  display: grid !important;
  grid-template-areas:
    "main main main members"
    "activities activities restaurants restaurants";

  gap: 1rem !important;
}
.trip-main-details {
  grid-area: main;
}
.trip-members {
  grid-area: members;
}
.trip-activities {
  grid-area: activities;
}
.trip-restaurants {
  grid-area: restaurants;
} */
/* COMPONENTS */
.card {
  border: 3px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  transition: all 200ms ease-in-out;
}

.trip-card {
  width: 20rem !important;
  color: var(--darkest-color) !important;
  > a {
    color: var(--darkest-color);
    text-decoration: none !important;
  }
}

.card-img-top:not(:hover) {
  filter: opacity(70%) !important;
  transition: 100ms ease-in-out;
}

.card:hover {
  text-decoration: none;
  color: var(--darkest-color);
  box-shadow: 16px 16px 17px rgba(175, 126, 67, 0.14);
}

.btn {
  background: var(--secondary-color);
  border-radius: 0.5rem;
  border: 2px solid var(--secondary-color);
  color: var(--lightest-color) !important;
}

.btn:hover {
  border-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--darkest-color) !important;
}
.danger:hover {
  background: var(--main-background-color) !important;
  border: 2px solid #b2391a !important;
  color: #b2391a !important;
}
.danger {
  background: #b2391a !important;
  border: 2px solid #b2391a !important;
  color: var(--lightest-color) !important;
}

.travel-size-tag {
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary-color);
  background: var(--secondary-color);
  color: var(--lightest-color);
  padding: 5px 10px !important;
}

.new-trip {
  & h4 {
    color: var(--darkest-color);
    opacity: 50%;
    transition-duration: 0.3s;
  }
  & i {
    opacity: 50%;
  }
}
.new-trip:hover {
  & h4 {
    color: var(--darkest-color);
    opacity: 100%;
  }
  & i {
    opacity: 100%;
  }
}

/* STYLING */
.secondary-color {
  color: var(--secondary-color);
}
.main-header-style {
  font-family: "Syne", sans-serif;
}
